@media (320px <= width <= 480px){
    
    .home-container{
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }
}

@media (481px <= width <= 768px){

}

@media (769px <= width <= 1024px){

}

@media (1025px <= width <= 1200px){

}

@media (1201px <= width <= 1920px){

}

