@media (320px <= width <= 480px){

    .contact-container{
        width: 100%;
        height: calc(140vh);
        background-color: #F3F3F3;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: calc(10vh);
    }

    .contact-container .wallpaper-contact{
        width: 100%;
        height: 70vh;
        background-image: url("../../assets/pumasneakers.jpg");
        background-position: center center;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .contact-container .form-container{
        width: 90vw;
    }
    
    .contact-container .form-container h2{
       font-size: 2rem;
       text-align: center;
       line-height: 33px;
    }
    
    .contact-container .form-container p{
       margin: 20px 0;
       text-align: center;
    }
    
    .contact-container .form-container .form-contact{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .contact-container .form-container .form-contact .input-form{
        width: 90%;
    }

    .contact-container .form-container .form-contact .textarea-form{
        width: 90%;
    }
    
}

@media (481px <= width <= 768px){

    .contact-container{
        width: 100%;
        height: calc(130vh);
        background-color: #F3F3F3;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content:stretch;
        padding-bottom: calc(10vh);
    }

    .contact-container .wallpaper-contact{
        width: 100%;
        height: 70vh;
        background-image: url("../../assets/pumasneakers.jpg");
        background-position: center center;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .contact-container .form-container{
        width: 90vw;
    }
    
    .contact-container .form-container h2{
       font-size: 2rem;
       text-align: center;
       line-height: 33px;
    }
    
    .contact-container .form-container p{
       margin: 20px 0;
       text-align: center;
       font-size: 1.2rem;
    }
    
    .contact-container .form-container .form-contact{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .contact-container .form-container .form-contact .input-form{
        width: 90%;
    }

    .contact-container .form-container .form-contact .textarea-form{
        width: 90%;
    }

}

@media (769px <= width <= 1024px){

    .contact-container{
        width: 100vw;
        height: 80vh;
        background-color: #F3F3F3;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .contact-container .wallpaper-contact{
        width: 45vw;
        height: 500px;
        padding: 0 4vw;
        background-image: url("../../assets/pumasneakers.jpg");
        background-position: center center;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .contact-container .form-container{
        width: 50vw;
        padding: 0 3vw;
    }

    .contact-container .form-container h2{
        font-size: 1.5rem;
        line-height: 33px;
     }
     
     .contact-container .form-container p{
        font-size: .8rem;
        margin-bottom: 20px;
     }
     
     .contact-container .form-container .form-contact{
         display: flex;
         flex-direction: column;
         align-items: left;
     }

     .contact-container .form-container .form-contact .input-form{
        width: 90%;
        margin: 15px 0;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
    }

    .contact-container .form-container .form-contact .textarea-form{
        width: 90%;
    }

}

@media (1025px <= width <= 1200px){

}

@media (1201px <= width <= 1920px){

    .contact-container{
        width: 100vw;
        height: 80vh;
        background-color: #F3F3F3;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .contact-container .wallpaper-contact{
        width: 40vw;
        height: 500px;
        padding: 0 4vw;
        background-image: url("../../assets/pumasneakers.jpg");
        background-position: center center;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .contact-container .form-container{
        width: 35vw;
        padding: 0 3vw;
    }
    
    .contact-container .form-container h2{
       font-size: 2rem;
    }
    
    .contact-container .form-container p{
       margin-bottom: 20px;
    }
    
    .contact-container .form-container .form-contact{
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    .contact-container .form-container .form-contact .input-form{
        margin: 15px 0;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
    }

}

.contact-container .form-container .form-contact .input-form{
    margin: 15px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
}

.contact-container .form-container .form-contact .textarea-form{
    height: 120px;
    border: none;
    resize: none;
    padding-left: 10px;
    padding-top: 10px;
    margin: 15px 0 25px 0;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
}

.contact-container .form-container .form-contact .btn-form{
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: .5s all ease-in-out;
}


